body {
    background-color: #EBEBEB;
}
.hotel-intro-container {
    padding: 2% 8%;
    text-align: center;
}
/*  location switch btn*/
.location-switch-btn-field {
    margin-top: 5%;
}
.location-switch-btn-field a + a  {
    text-decoration: none;
    color: #26A69A;
    border:1px solid #26A69A;
    border-radius:100px;
    padding: 0.7% 7%;
    margin-right: 2%;
}
.checked-page {
    color: #fff;
    background-color: #26A69A;
    border-radius:100px;
    padding: 0.7% 7%;
    margin-right: 2%;
}
.location-switch-btn-field a + a:hover{
    border: none;
    background-color: #26A69A;
    color: #fff;
}
/* hotel intro field top one */
.hotel-intro-top {
    padding: 4% 5%;
    margin-top:8% ;
    position: relative;
}
.hotel-intro-content-field {
    display: flex;
}
.hotel-intro-top >:first-child {
    position: absolute;
    width: 15%;
    z-index: 1;
    top: 0;
    left: 0;
}
.hotel-intro-top >:nth-child(2) {
    position: absolute;
    width: 57%;
    z-index: 2;
    top: 20%;
    left: 2.5%;
}
.hotel-intro-content-field {
    position: absolute;
    z-index: 3;
    text-align: left;
    display: flex;
    margin:1% 4% 0 45%;
}
.hotel-intro-content-field > :first-child {
    height:30%;
    position: absolute;
    bottom: 0;
    left: -29.4%;
    margin-top: 5%;
}
.hotel-intro-content {
    background-color: #fff;
    padding: 15% 10%;
}
.hotel-intro-content >:first-child{
    font-size: 1.7rem;
}
.hotel-intro-content > p {
    font-size: 0.8rem;
    color:#1D2B53;
    margin-top: 0.3%;
}

.learn-more {
    margin: 2rem 0 0 17rem;
}
.learn-more-btn {
    width: 8rem;
    padding: 0.7rem;
    background-color:transparent ;
    border:0.1rem solid #26A69A;
    color: #26A69A;
    cursor:pointer;
    transition: 0.3s;
}
.learn-more-btn a {
    text-decoration:none;
    color:#26A69A;
}
.learn-more-btn:hover {
    background-color: #09A99B;
    transform: scale(0.9);
}
.learn-more-btn:hover a {
    color: #fff;
}
/* hotel intro field bottom one */
.hotel-intro-bottom {
    margin-top: 55%;
    position: relative;
    padding: 4% 5%;
}
.hotel-intro-bottom > :first-child {
    position:absolute;
    top:2%;
    right: -3%;
    z-index: 1;
}
.hotel-intro-bot-content-field {
    position: absolute;
    z-index: 2;
    left: 0;
    display: flex;
}

.hotel-intro-bot-content {
    margin-bottom: 5%;
    padding: 4% 5%;
    text-align: left;
    background-color: #fff;
}
.hotel-intro-bot-content > h2 {
    font-size: 1.9rem;
    color: #1D2B53;
}
.hotel-intro-bot-content > p {
    font-size: 0.9rem;
    color:#1D2B53;
}
.hotel-intro-bot-content-field >:nth-child(2) {
    position: absolute;
    z-index: 4;
    top:54%;
    width: 28%;
    left: 40%;
}
.hotel-learn-more-btn-field {
    margin: 10% 0;
    width: 20%;
}
footer {
    margin-top: 55%;
}



